
// Stash Form Setting CSS
.project-list-form-con {
    position: relative;
    background-color: $sign-up-in-page-bg;
    .project-list-form-box {
        position: relative;
        max-width: 1110px;
        width: 100%;
        height: auto;
        padding: 60px;
        margin: 64px auto 43px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
        border-radius: 4px;
        background-color: $modal-content-background-colour;
        .row {
            .col {
                .form-input-box {
                    &:not(.form-input-box-radio):not(.form-input-box-checkbox) {
                        width: 100%;
                    }
                }
                .form-input-box {
                    &.form-input-box-checkbox,
                    &.form-input-box-radio {
                        label {
                            &.radio-checkbox-setting {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
            margin: 0 0 0.75rem;
            .card-header {
                display: block;
                width: 100%;
                height: auto;
                border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
                padding: 0.75rem 1.25rem;
                margin-bottom: 0;
                background-color: rgba(0, 0, 0, 0.03);
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                h5 {
                    color: #000;
                    font-size: $p-font-l;
                    font-family: $primary-font-family;
                    margin: 0;
                    padding: 0;
                }
            }
            .card-body {
                flex: 1 1 auto;
                padding: 1.25rem;
            }
        }
        .cart-con {
            border-radius: 4px;
            background: #fcfcfc;
            color: #313131;
            border: 1px solid #e0e0e0;
            box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%), 0 1px 1px 0 rgb(0 0 0 / 12%);
            margin: 0 0 0.75rem;
            .cart-header {
                display: block;
                width: 100%;
                height: auto;
                border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
                padding: 10px 18px;
                margin-bottom: 0;
                background: #fcfcfc;
                h5 {
                    font-size: $p-font-l;
                    font-family: $primary-font-family;
                    margin: 0;
                    padding: 0;
                    color: #dadada;
                    margin-top: 5px;
                }
            }
            .cart-body {
                flex: 1 1 auto;
                padding: 10px 18px;
                background: #fcfcfc;
                .list-box {
                    .list-header {
                        color: #5CB85C;
                        font-size: $p-font-s;
                        font-family: $primary-font-family;
                    }
                    .list-body {
                        .list {
                            margin: 0;
                            padding: 0;
                            list-style-type: none;
                            .list-item {
                                font-size: $p-font-s;
                                font-family: $primary-font-family;
                                span {
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
        }
        .form-input-box {
            &.drag-n-drop-con {
                margin: 0 0;
                .input-field:not(.input-field-radio-checkbox) {
                    margin: 0 0 24px;
                }
            }
            .input-field:not(.input-field-radio-checkbox) {
                margin: 0 0 30px;
                input,
                select,
                textarea {
                    height: 36px;
                    padding: 6px 12px;
                    border-radius: 4px;
                }
                &.custom-url {
                    input:not([type=checkbox]):not([type=radio]) {
                        padding-left: 270px;
                    }
                }
            }
        }
    }
}
