

// *** H1 Font Size ***

//$h1-font-l: ; // unused on this site, so comment out
$h1-font-m: 7.334rem;
//$h1-font-s: $h1-font-m;


// *** H2 Font Size ***

//$h2-font-l: $l-font-size;
$h2-font-m: 6rem;
//$h2-font-s: $h2-font-m;


// *** H3 Font Size ***

//$h3-font-l: $m-font-size;
$h3-font-m: 4.667rem;
//$h3-font-s: $h3-font-m;


// *** H4 Font Size ***

//$h4-font-l: $xs-font-size;
$h4-font-m: 3.334rem;
//$h4-font-s: $h4-font-m;


// *** H5 Font Size ***

//$h5-font-l: $xs-font-size;
$h5-font-m: 2.667rem;
//$h5-font-s: $h4-font-m;


// *** Paragraph Font Size ***

$p-font-l: 2.334rem;
$p-font-m: 1.667rem;
$p-font-s: 1.34rem;


// *** Paragraph Medium Screen Font Size ***
$p-font-swm-m: 1.2rem;
$extra-small-font: 1rem;

// *** Label Font Size ***
$label-font-l: $p-font-l;
$label-font-m: $p-font-m;
$label-font-s: $p-font-s;

// *** List Item Font Size ***
$li-font-l: $p-font-l;
$li-font-m: $p-font-m;
//$li-font-s: $p-font-m;


// *** Button Font Size ***
$button-font-l: $p-font-m;
$button-font-m: $p-font-m;
$button-font-s: $p-font-s;

// *** Anchor Font Size ***
$a-font-m: $p-font-m;
$a-font-s: $p-font-s;


// Input Sizes

//$input-font-l: $p-font-m;
$input-font-m: $p-font-m;
//$input-font-s: $p-font-m;
$input-padding: $spacing/4 16px;

// price font size
$price-font-m: 4.1667rem;
$month-font-m: 2.25rem;

$price-view-font-m: 5.41667rem;


// Tabs Button Font Size
$tab-button-font-m: 1.91667rem;
$tab-detail-heading-font-m: 3.198334rem;

// Table Font Size
$table-column-heading-font-m: 1.2791667rem;

// List Section With Icon Title Font Size
$list-section-with-icon-title-font-m: 2.416667rem;
$list-section-with-icon-sub-title-font-m: 1.416667rem;
$list-section-left-side-title-font-m: 7.75rem;
$informative-title-font-m: 2.75rem;
$copy-link-button-font-m: 1.75rem;

// informative Heading Font Size for Plan Component In Dashboard Page
$plan-of-dashboard-font-m: 3.5rem;
$plan-of-dashboard-sub-title-font-m: 1.118334rem;

// Info Section Heading in Plan Component in Dashboard Page
$info-title-plan-in-dashboard-font-m: 3.41667rem;
$info-text-plan-in-dashboard-font-m: 1.398334rem;
$payment-table-grand-total-font-m: 3.1458334rem;
$plan-summary-submit-info-font-m: 1.6375rem;




